<div class="container">


    <h2><i class="icon-calendar"></i> Conferences</h2>
    <div class="row search">Search: <input ng-model="searchText"></div>
    <div class="row">

    <!-- <table class="table">
        <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Startdate</td>
            <td>Enddate</td>
        </thead>
        <tr ng-repeat="item in items">
            <td>{{ item.id }}</td>
            <td><a href="#/tracks/{{item.id}}">{{ item.name }}</a></td>
            <td>{{ item.description }}</td>
            <td>{{ item.startDate }}</td>
            <td>{{ item.endDate }}</td>
            <td>
                <button class="btn" ng-click="open($index)"><i class="icon-edit-sign"></i> Edit</button>
                <button class="btn" ng-click="deleteConference(item.id,$index)"><i class="icon-remove"></i></button>
            </td>
        </tr>
    </table> -->
    <ul class="thumbnails">
    <li ng-repeat="item in items | filter:searchText" class="span8">
        <div class="thumbnail thumbnail-item">
            <div class="caption" ng-controller="editCtrl">
                <div class="row pull-right">
                    <button ng-show="!editState" class="btn" ng-click="edit($index)"><i class="icon-2x icon-pencil"></i></button>
                    <button ng-show="editState" class="btn" ng-click="edit($index)"><i class="icon-2x icon-save"></i></button>
                    <button class="btn btn-danger" ng-click="deleteConference(item.id,$index)"><i class="icon-2x icon-trash"></i></button>

                </div>

            <h3 ng-show="!editState" >{{ item.name }}</h3>
            <p>
                <div ng-show="editState" class="span2">Name:</div>
                <input ng-show="editState"  class="span2" type="text" ng-model="item.name">
            </p>
            <p ng-show="!editState">{{ item.description }}</p>
            <div ng-show="editState" class="span2">Description:</div>
            <textarea ng-show="editState"  ng-model="item.description" rows="3"></textarea>
            <p>
                <span ng-show="!editState" class="label label-info">{{item.location}}</span>
                <div ng-show="editState" class="span2">Location:</div>
                <input ng-show="editState" type="text" ng-model="item.location">
            </p>
            <p>
                <span ng-show="!editState" class="label label-info">From {{ item.startDate  | date:'yyyy-MM-dd' }} </span>
                <div ng-show="editState" class="span2">Startdate:</div>
                <input ng-show="editState" type="date" ng-model="item.startDate">
            </p>
             <p>
                <span ng-show="!editState" class="label label-info">to {{ item.endDate | date:'yyyy-MM-dd' }}</span>
                <div ng-show="editState" class="span2">Enddate:</div>
                <input ng-show="editState" type="date" ng-model="item.endDate">
            </p>
                <p>
                    <a ng-show="!editState" href="item.infolink"><spanclass="label label-info">{{item.infolink}}</span></a>
                    <div ng-show="editState" class="span2">Infolink:</div>
                    <input ng-show="editState" type="text" ng-model="item.infolink">
                </p>
            <p>
                <a class="btn" href="#/tracks/{{item.id}}"><i class="icon-road"></i> Tracks</a>
            </p>
            </div>
        </div>
    </li>
    </ul>

    <button class="btn" ng-click="open()"><i class="icon-plus"></i> Create</button>
    <button class="btn btn-danger" ng-click="getConferences()"><i class="icon-refresh"></i> Load</button>
    <div class="info">{{ status }}</div>

    </div>
</div>
