<div class="container">


    <h2><i class="icon-calendar"></i> Conferences</h2>
    <div class="row search">Search: <input ng-model="searchText"></div>
    <div class="row">

    <div class="thumbnails">
    <div ng-repeat="conference in conferences | filter:searchText" class="panel panel-primary" ng-controller="editConference">
        
            <div class="panel-heading">
                <h4>
                <i class="icon-calendar"></i>
                {{conference.name}}
               
                </h4>
            </div>
            <div ng-show="editState"class="panel-body"> 
                <form name="form" class="form">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input class="form-control" type="text" placeholder="insert Name" ng-model="conference.name" required>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Description</label>
<!--                         <textarea class="form-control" ng-model="conference.description" rows="3" required></textarea> -->
                        <div text-angular ng-model="conference.description"></div> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Location</label>
                        <input class="form-control" type="text" placeholder="insert Location" ng-model="conference.location" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Startdate</label>
                        <input class="form-control" type="date" placeholder="insert Date" ng-model="conference.startDate" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Enddate</label>
                        <input class="form-control abc" min="{{ conference.startDate }}" type="date" placeholder="insert Date" ng-model="conference.endDate" required>
                    </div>
                     <div class="form-group">
                        <label class="control-label">Infolink</label>
                        <input class="form-control" type="url" placeholder="insert Link" ng-model="conference.infolink">
                    </div>

                <div ng-show="user.isadmin" class="btn-group">
                <button class="btn" ng-click="edit($index)" ng-disabled="form.$invalid" ><i class="icon-2x icon-save"></i></button>
                <button class="btn btn-danger" ng-click="deleteConference(conference.id,$index)"><i class="icon-2x icon-trash"></i></button>
                </div>

                </form>
            </div>
            <div ng-show="!editState"class="panel-body"> 
            
            	<p><strong>Location:</strong> {{conference.location}}</p>
				<p><strong>From:</strong> {{ conference.startDate  | date:'yyyy-MM-dd' }} <strong>to</strong> {{ conference.endDate | date:'yyyy-MM-dd' }}</p>
				<p><strong>Description:</strong>
				<div ng-bind-html="conference.description"></div>
				</p>
				<p ng-show=conference.infolink><strong>Infolink:</strong> <a href={{conference.infolink}} >{{conference.infolink}}</a> </p>
               
               
                <h4><a class="btn" href="#/tracks/{{conference.id}}"><i class="icon-road"></i> Go to Tracks</a></h4>
                <div ng-show="user.isadmin" class="btn-group">
                <button class="btn" ng-click="edit($index)"><i class="icon-pencil"></i></button>
                <button class="btn btn-danger" ng-click="deleteConference(conference.id,$index)"><i class="icon-trash"></i></button>
                </div>
            </div>
            
            <div class="panel-footer">
               
            </div>
        
    </div>
    </div>
	
    <button ng-show="user.isadmin" class="btn" ng-click="add()"><i class="icon-plus"></i> Create</button>
    <button class="btn btn-danger" ng-click="getConferences()"><i class="icon-refresh"></i> Load</button>
    
    <div class="info">{{ status }}</div>

    </div>
</div>
