<div class="container">


    <h2><i class="icon-calendar"></i> Conferences</h2>
    <div class="row search">Search: <input ng-model="searchText"></div>
    <div class="row">

    <!-- <table class="table">
        <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Startdate</td>
            <td>Enddate</td>
        </thead>
        <tr ng-repeat="conference in conferences">
            <td>{{ conference.id }}</td>
            <td><a href="#/tracks/{{conference.id}}">{{ conference.name }}</a></td>
            <td>{{ conference.description }}</td>
            <td>{{ conference.startDate }}</td>
            <td>{{ conference.endDate }}</td>
            <td>
                <button class="btn" ng-click="open($index)"><i class="icon-edit-sign"></i> Edit</button>
                <button class="btn" ng-click="deleteConference(conference.id,$index)"><i class="icon-remove"></i></button>
            </td>
        </tr>
    </table> -->
    <!--<div class="thumbnails">
    <div ng-repeat="conference in conferences | filter:searchText" class="span8">
        <div class="thumbnail thumbnail-conference">
            <div class="caption" ng-controller="editCtrl">
                <div class="pull-right">
                    <button ng-show="!editState" class="btn" ng-click="edit($index)"><i class="icon-2x icon-pencil"></i></button>
                    <button ng-show="editState" class="btn" ng-click="edit($index)"><i class="icon-2x icon-save"></i></button>
                    <button class="btn btn-danger" ng-click="deleteConference(conference.id,$index)"><i class="icon-2x icon-trash"></i></button>

                </div>

            <h3 ng-show="!editState" >{{ conference.name }}</h3>
            <div ng-show="editState"class="input-group">
                <span class="input-group-addon">Name</span>
                <input class="form-control" type="text" ng-model="conference.name">
            </div>
            <div class="well well-sm" ng-show="!editState">{{ conference.description }}</div>
            <div ng-show="editState" class="input-group">
            <span  class="input-group-addon">Description</span>
            <textarea class="form-control" ng-model="conference.description" rows="3"></textarea>
            </div>
            <p>
                <span ng-show="!editState" class="label label-info">{{conference.location}}</span>
                <div ng-show="editState" class="span2">Location:</div>
                <input ng-show="editState" class="form-control" type="text" ng-model="conference.location">
            </p>
            <p>
                <span ng-show="!editState" class="label label-info">From {{ conference.startDate  | date:'yyyy-MM-dd' }} </span>
                <div ng-show="editState" class="span2">Startdate:</div>
                <input ng-show="editState" class="form-control" type="date" ng-model="conference.startDate">
            </p>
             <p>
                <span ng-show="!editState" class="label label-info">to {{ conference.endDate | date:'yyyy-MM-dd' }}</span>
                <div ng-show="editState" class="span2">Enddate:</div>
                <input ng-show="editState" class="form-control" type="date" ng-model="conference.endDate">
            </p>
                <p>
                    <a ng-show="!editState" href="conference.infolink"><spanclass="label label-info">{{conference.infolink}}</span></a>
                    <div ng-show="editState" class="span2">Infolink:</div>
                    <input ng-show="editState" class="form-control" type="text" ng-model="conference.infolink">
                </p>
            <p>
                <a class="btn" href="#/tracks/{{conference.id}}"><i class="icon-road"></i> Tracks</a>
            </p>
            </div>
        </div>
    </div>
    </div>-->

    <div class="thumbnails">
    <div ng-repeat="conference in conferences | filter:searchText" class="panel panel-primary" ng-controller="editConference">
        
            <div class="panel-heading">
                <h4>
                <i class="icon-calendar"></i>
                {{conference.name}}
               
                </h4>
            </div>
            <div ng-show="editState"class="panel-body"> 
                <form name="form" class="form">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input class="form-control" type="text" placeholder="insert Name" ng-model="conference.name" required>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Description</label>
<!--                         <textarea class="form-control" ng-model="conference.description" rows="3" required></textarea> -->
                        <div text-angular ng-model="conference.description"></div> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Location</label>
                        <input class="form-control" type="text" placeholder="insert Location" ng-model="conference.location" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Startdate</label>
                        <input class="form-control" type="date" placeholder="insert Date" ng-model="conference.startDate" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Enddate</label>
                        <input class="form-control abc" min="{{ conference.startDate }}" type="date" placeholder="insert Date" ng-model="conference.endDate" required>
                    </div>
                     <div class="form-group">
                        <label class="control-label">Infolink</label>
                        <input class="form-control" type="url" placeholder="insert Link" ng-model="conference.infolink">
                    </div>

                     <div class="btn-group">
                <button class="btn" ng-click="edit($index)" ng-disabled="form.$invalid" ><i class="icon-2x icon-save"></i></button>
                <button class="btn btn-danger" ng-click="deleteConference(conference.id,$index)"><i class="icon-2x icon-trash"></i></button>
                </div>

                </form>
            </div>
            <div ng-show="!editState"class="panel-body"> 
            
            	<p><strong>Location:</strong> {{conference.location}}</p>
				<p><strong>From:</strong> {{ conference.startDate  | date:'yyyy-MM-dd' }} <strong>to</strong> {{ conference.endDate | date:'yyyy-MM-dd' }}</p>
				<p><strong>Description:</strong>
				<div ng-bind-html="conference.description"></div>
				</p>
				<p ng-show=conference.infolink><strong>Infolink:</strong> <a href={{conference.infolink}} >{{conference.infolink}}</a> </p>
               
               
                <h4><a class="btn" href="#/tracks/{{conference.id}}"><i class="icon-road"></i> Go to Tracks</a></h4>
                <div class="btn-group">
                <button class="btn" ng-click="edit($index)"><i class="icon-pencil"></i></button>
                <button class="btn btn-danger" ng-click="deleteConference(conference.id,$index)"><i class="icon-trash"></i></button>
                </div>
            </div>
            
            <div class="panel-footer">
               
            </div>
        
    </div>
    </div>

    <button class="btn" ng-click="add()"><i class="icon-plus"></i> Create</button>
    <button class="btn btn-danger" ng-click="getConferences()"><i class="icon-refresh"></i> Load</button>
    <div class="info">{{ status }}</div>

    </div>
</div>
