<div ng-controller="EventsCtrl">
<h2 >Events</h2>
<div class="row">
    <div ng-repeat="event in events "class="col-12 col-sm-12 col-lg-12" ng-controller="editEvent">

        <div class="thumbnail">
            <div class="caption">
                <h3>
                    <i class="icon-rocket"></i>
                    {{event.name}}
                </h3>
                <div ng-show="editState"class="panel-body">
                    <form name="form" class="form">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input class="form-control" type="text" placeholder="insert Name" ng-model="event.name" required>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <!--<textarea class="form-control" ng-model="event.description" rows="3" required></textarea>-->
                            <div text-angular ng-model="event.description"></div> 
                        </div>
                        <div class="form-group">
                            <label class="control-label">Presenter</label>
                            <input class="form-control" type="text" placeholder="Presenter" ng-model="event.presenter" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Day</label>
                            <select class="form-control" ng-model="times" ng-options="day.date for day in time" reqired></select><br>
                        </div>
						<div class="form-group">
                            <label class="control-label">from</label>
                            <input class="form-control" type="time" ng-model="sched[event.id].start" required>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label">to</label>
                            <input class="form-control" type="time" ng-model="sched[event.id].end" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Infolink</label>
                            <input class="form-control" type="text" placeholder="Infolink" ng-model="event.infolink">
                        </div>
                        <div class="btn-group">
                            <button class="btn" ng-click="edit($index)" ng-disabled="form.$invalid" ><i class="icon-save"></i></button>
                            <button class="btn btn-danger" ng-click="deleteEvent(event.id,$index)"><i class="icon-trash"></i></button>
                        </div>

                    </form>
                </div>
                <div ng-show="!editState"class="panel-body">
						<p><strong>Presenter:</strong> {{event.presenter}}</p>
						<p><strong>Date:</strong> {{event.startdate | date:'yyyy-MM-dd'}} <strong>from</strong> {{ sched[event.id].start}} <strong>to</strong> {{sched[event.id].end}}</p>
						<p>
						<strong>Description:</strong> 
						<div ng-bind-html="event.description"></div>
					</p>
					<p ng-show=event.infolink><strong>Infolink:</strong> <a href={{event.infolink}}>{{event.infolink}}</a> </p>
				
					
                    <div class="btn-group">
                        <button class="btn" ng-click="edit($index)"><i class="icon-pencil"></i></button>
                        <button class="btn btn-danger" ng-click="deleteEvent(event.id,$index)"><i class="icon-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn" ng-click="addEvent()"><i class="icon-plus"></i> Create</button>
</div>