<div class="container " >

    <!--<h2><i class="icon-home"></i> Home</h2>--> 

	<!--create / load conference plan #f0ad4e #428bca--> 
    <div class="panel centeredBlock" style="border:2px; border-style:solid; border-color:#b2b2b2;border-radius: 4px">

		 <div class="panel-heading" style="background-color: white"></div>

		 <div class="panel-body">
	    	<h2 style=" font-size:70px; color: #999999"><strong>noPlan</strong></h2>

	        <br />
	        <img src="assets/img/logo.png" width="80" height="80" />
	        <br />
	        <br />
	        <br />

        	<span><a href="#/conferenceUserView" style="margin:10px" class="btn btn-primary btn-lg"><i class="icon-pencil"></i><strong> Create Plan</strong></a>

        	<a href="#/conferenceUserViewEdit" ng-click="" style="margin:10px" class="btn btn-warning btn-lg"><i class="icon-pencil"></i><strong> Load Plan</strong></a></span>
  		</div>

  		<div class="panel-footer" id="greyBackground"></div>
	</div>

</div>

