<div class="navbar navbar-inverse" ng-controller="NavbarCtrl">

    <div class="navbar-inner">
        <a class="brand" href="#/main">noPlan</a>
        <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/main')}"><a href="#/main"><i class="icon-home"></i> Home</a> </li>
            <li ng-class="{ active: isActive('/conferences')}"><a href="#/conferences"><i class="icon-calendar"></i> Conferences</a></li>
            <li ng-class="{ active: isActive('/todo')}"><a href="#/todo">TodoApp</a></li>
        </ul>

        <ul class="nav pull-right">
            <li class="nav pull-right"><label class="navbar-text">Martin</label></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-cog"></i> Admin
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/login"><i class="icon-unlock-alt"></i> Login</a> </li>
                    <li><a href="#/users"><i class="icon-user"></i> Users</a> </li>
                </ul>
            </li>

        </ul>
        </div>
    
    <div>
        <ul id="home" class="breadcrumb" bread-crumbs>
            <li ng-repeat="breadcrumb in breadcrumbs">
            <span class="divider">/</span>
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{ breadcrumb.name }}</span>
                    <span ng-switch-default=><a href="{{breadcrumb.link}}">{{breadcrumb.name}}</a></span>
                </ng-switch>
            </li>
        </ul>
    </div>
    </div>

</div>
