<div class="navbar navbar-inverse" ng-controller="NavbarCtrl">


        <div class="navbar-header">
            <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-th-list"></span>
            </a>
            <a class="navbar-brand" href="#/main"><img src="assets/img/logo.png"> noPlan</a>
        </div>


        <div class="collapse navbar-collapse nav-collapse">
        <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/main')}"><a href="#/main"><i class="icon-home"></i> Home</a> </li>
            <li ng-show="loggedIn" ng-class="{ active: isActive('/conferences')}"><a href="#/conferences"><i class="icon-calendar"></i> Conferences</a></li>
        </ul>

        <ul class="nav pull-right">

            <li ng-show="loggedIn" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-cog"></i> Admin
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">


                    <li><a href="#/users"><i class="icon-user"></i> Users</a> </li>
                    <li><a href="#/conferences"><i class="icon-calendar"></i> Conferences</a> </li>
                </ul>
            </li>
            <li><a ng-show="!loggedIn" href="#/login"><i class="icon-unlock-alt"></i> Login</a> </li>
            <li><a ng-show="loggedIn" href="#" ng-click="logout()"><i class="icon-unlock-alt"></i> Logout</a> </li>

        </ul>
        </div>
    </div>

    
    <div>
        <ul id="home" class="breadcrumb" bread-crumbs>
            <li ng-repeat="breadcrumb in breadcrumbs">
            <span class="divider">/</span>
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{ breadcrumb.name }}</span>
                    <span ng-switch-default=><a href="{{breadcrumb.link}}">{{breadcrumb.name}}</a></span>
                </ng-switch>
            </li>
        </ul>
    </div>
    </div>

</div>
