<div class="modal-header">
    <h3>Create a new Conference</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="span2">Name:</div>
        <input class="span8" type="text" ng-model="item.name">
    </div>
    <div class="row-fluid">
        <div class="span2">Description:</div>
        <textarea class="span8" ng-model="item.description" rows="3"></textarea>
    </div>
    <div class="row-fluid">
        <div class="span2">Startdate:</div>
        <input class="span8" type="date" ng-model="item.startDate">
    </div>
    <div class="row-fluid">
        <div class="span2">Enddate:</div>
        <input class="span8" type="date" ng-model="item.endDate">
    </div>
    <div class="row-fluid">
        <div class="span2">Location:</div>
        <input class="span8" type="text" ng-model="item.location">
    </div>
    <div class="row-fluid">
        <div class="span2">Infolink:</div>
        <input class="span8" type="text" ng-model="item.infolink">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

