<div class="modal-header">
    <h3>Create a Event</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="span2">Name:</div>
        <input class="span8" type="text" ng-model="item.name">
    </div>
    <div class="row-fluid">
        <div class="span2">Presenter</div>
        <input class="span8" type="text" ng-model="item.Presenter">
    </div>
    <div class="row-fluid">
        <div class="span2">Description:</div>
        <textarea class="span8" ng-model="item.description" rows="3"></textarea>
    </div>
    <div class="row-fluid">
        <div class="span2">Starttime:</div>
        <input class="span8" type="time" ng-model="item.startTime">
    </div>
    <div class="row-fluid">
        <div class="span2">Endtime:</div>
        <input class="span8" type="time" ng-model="item.endTime">
    </div>
    <div class="row-fluid">
        <div class="span2">Info Link</div>
        <input class="span8" type="url" ng-model="item.infoLink">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

