<div class="container" >

    
    
    <!--collapse container-events-->
    <div class="panel-group" id="accordionEvents" >
    
        <div ng-show="editStateYourPlan">
            <!--headline container-events-->
            <h3><i class="icon-road"></i> Tracks</h3>

            <!--collapse container-events members-->
            <div class="panel panel-primary" ng-repeat="track in conferenceItems" >
                
                <!--collapse header-->
                <div class="panel-heading" id="greyBackground">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionEvents" data-target="#{{track.id}}"> {{track.name}}</a></h4>
                </div>

                <p class="aCoolFont" data-toggle="collapse" data-parent="#accordionEvents" data-target="#{{track.id}}">{{conferenceItems[$index].name}}</p>

                <!--collapse body-->
                <div id="{{track.id}}" class="panel-collapse collapse in">
                    <div class="panel-body">                
                        <!--include view-->
                        <ng-include src="'views/eventUserView.html'"></ng-include>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <br />

    <!--headline container-gantt-->
    <h3><i class="icon-list"></i> Gantt</h3>

    <!--collapse container-gantt-->
    <div class="panel-group" id="accordionGantt" >

           <div class="panel panel-primary">
            <div class="panel-heading" id="greyBackground">
              <h4 class="panel-title" >
                <a data-toggle="collapse" data-parent="#accordionGantt" data-target="#gantt">
                  Gantt
                </a>
              </h4>
            </div>
            <div id="gantt" class="panel-collapse {{collapseStateYourPlan}}">
              <div class="panel-body">
              <gantt   first-day-of-week="firstDay"
                       from-date="fromDate"
                       load-data="loadData = fn"
                       remove-data="removeData = fn"
                       clear-data="clearData = fn"
                       sort-mode="mode"
                       view-scale="scale"
                       view-scale-factor="scale === 'day' ? 2 : 3"
                       weekend-days="weekendDays"
                       show-weekends="showWeekends"
                       show-non-work-hours="false"
                       max-height="maxHeight"
                       on-gantt-ready="addSamples()"
                       on-row-added="rowEvent(event)"
                       on-row-clicked="rowEvent(event)"
                       on-row-updated="rowEvent(event)"
                       on-scroll="scrollEvent(event)"
                       on-task-clicked="taskEvent(event)">
              </gantt>
              </div>
            </div>
          </div>
    </div>



        <br />
        <!--headline container-events-->
        <h3><i class="icon-list"></i> {{yourPlan}}</h3>

        <!--collapse container-yourPlan-->
        <div class="panel-group" id="accordionYourPlan" >

            <!--collapse container-yourPlan members-->
            <div class="panel panel-primary">
                
                <!--collapse header-->
                <div class="panel-heading" id="greyBackground">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionYourPlan" data-target="#yourPlan"> {{yourPlan}}</a></h4>
                </div>

                <p class="aCoolFont" data-toggle="collapse" data-parent="#accordionYourPlan" data-target="#yourPlan"> {{yourPlan}}</p>


                <!--collapse body-->
                <div id="yourPlan" class="panel-collapse {{collapseStateYourPlan}}">

                    <div class="panel-body">
 
                        <div>
                            <h3><i class="icon-rocket"></i> <strong>Events:</strong></h3>
                        </div>

                        <div class="row">

                            <!--events of yourPlan-->
                            <div ng-repeat="itemMy in myPlanItems | orderBy:DATE" class="col-12 col-sm-12 col-lg-12">
                                <div class="thumbnail">
                                <div class="caption">                    
                                    <h4><strong>{{itemMy.name}}</strong> <span class="label label-warning" ng-show="doubleSelection[$index]"><strong><i class="icon-shield"></i></strong> Double Selection!</span>  </h4> 
                                    <!--warning for double selection not implemented yet!-->


                                    <!--<p><strong>Event ID:</strong> {{itemMy.id}}</p>-->
                                    <p class="eventText"><strong>Presenter:</strong> {{itemMy.presenter }}</p>  

                                    <p class="eventText"><strong>Description:</strong> {{itemMy.description }}</p>

                                    <p ng-show=itemMy.infolink><strong class="eventText">Infolink:</strong> <a href={{itemMy.infolink}}>{{itemMy.infolink}}</a> </p>

                                    <p class="eventText"><strong>Date:</strong> {{itemMy.startdate | date:'yyyy-MM-dd'}} <strong>from</strong> {{schedMyPlanEvents[itemMy.id].start}} <strong>to</strong> {{schedMyPlanEvents[itemMy.id].end}}</p>

                                    <p><button class="btn btn-lg btn-danger" ng-show="editStateYourPlan" ng-click="removeFromMyPlan(itemMy)"><i class="icon-trash"></i></button></p>
                               
                                </div>
                                </div>
                            </div>
                        </div>


                        
                    </div>
                </div>
                    
                <div class="panel-footer" >
                    <button ng-show="!editStateYourPlan" class="btn btn-primary btn-lg" ng-click="editStateYourPlan='true';yourPlan='editPlan!';clearTimetableState()"><i class="icon-pencil"></i><strong> Edit</strong></button>  
                     
                    <button ng-show="editStateYourPlan" class="btn btn-success btn-lg" ng-click="compareTimetable();saveYourEventChoice();yourPlan='newPlan!'" ><i class="icon-save "></i><strong> Save</strong></button>    
                </div>

  
            </div>

            <!--shows JSON saved events-->
            <!--<div ng-show="saveEvents">
                <br />
                <h4><strong>Your saved Events:</strong></h4><p>Add: {{comparedEventIDsToAdd}}</p> <p>Remove: {{comparedEventIDsToRem}}</p>

                <button class="btn btn btn-lg" ng-click="compareTimetable()" ><strong> Test-Compare</strong></button>  
            </div>-->
        </div>
    
    
    <!--service info state-->   
    <div class="info">{{ status }}</div>

</div>
