<div class="container">


    <h2><i class="icon-road"></i> Tracks</h2>

    <div class="thumbnails">
        <div ng-repeat="track in tracks | filter:searchText" class="panel panel-primary" ng-controller="editTrack">

            <div class="panel-heading">
                <div class="title">
                    <i class="icon-road"></i>
                    {{track.name}}

                </div>
            </div>
            <div ng-show="editState"class="panel-body">
                <form name="form" class="form">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input class="form-control" type="text" placeholder="insert Name" ng-model="track.name" required>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea class="form-control" ng-model="track.description" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Location</label>
                        <input class="form-control" type="text" placeholder="insert Location" ng-model="track.location" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Recourse</label>
                        <input class="form-control" type="text" placeholder="insert Date" ng-model="track.resource" required>
                    </div>
                    <div class="btn-group">
                        <button class="btn" ng-click="edit($index)" ng-disabled="form.$invalid" ><i class="icon-save"></i></button>
                        <button class="btn btn-danger" ng-click="deleteConference(track.id,$index)"><i class="icon-trash"></i></button>
                    </div>

                </form>
            </div>
            <div ng-show="!editState"class="panel-body">

                <div class="well well-sm" ng-show="!editState">{{ track.description }}</div>
                <p>
                    <span class="label label-primary">{{track.location}}</span>
                </p>
                <p>
                    <span class="label label-primary">{{track.resource}}</span>
                </p>

                <div class="btn-group">
                    <button class="btn" ng-click="edit($index)"><i class="icon-2x icon-pencil"></i></button>
                    <button class="btn btn-danger" ng-click="deleteTrack(track.id,$index)"><i class="icon-2x icon-trash"></i></button>
                </div>
                <ng-include src="'views/event.html'"></ng-include>


            </div>

            <div class="panel-footer">


        </div>
    </div>
    <button class="btn" ng-click="add()"><i class="icon-plus"></i> Create</button>
    <button class="btn btn-danger" ng-click="getTracks()"><i class="icon-refresh"></i> Load</button>





</div>
