<div class="container">


    <h2><i class="icon-road"></i> Tracks</h2>
     <div class="row search">Search: <input ng-model="searchText"></div>
    <div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-target="#collapseOne">
	          Calendar
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse ">
	      <div class="panel-body">
          <div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
	      </div>
	    </div>
	  </div>
	  
	   <div class="panel panel-default">
	    <div class="panel-heading" >
	      <h4 class="panel-title" >
	        <a data-toggle="collapse" data-target="#gantt">
	          Gantt
	        </a>
	      </h4>
	    </div>
	    <div id="gantt" class="panel-collapse collapse in">
	      <div class="panel-body">
	      <gantt   first-day-of-week="firstDay"
	      		   from-date="fromDate"
		           load-data="loadData = fn"
		           remove-data="removeData = fn"
		           clear-data="clearData = fn"
		           sort-mode="mode"
		           view-scale="scale"
		           view-scale-factor="scale === 'day' ? 2 : 3"
		           weekend-days="weekendDays"
		           show-weekends="showWeekends"
		           show-non-work-hours="false"
		           max-height="maxHeight"
		           on-gantt-ready="addSamples()"
		           on-row-added="rowEvent(event)"
		           on-row-clicked="rowEvent(event)"
		           on-row-updated="rowEvent(event)"
		           on-scroll="scrollEvent(event)"
		           on-task-clicked="taskEvent(event)">
	      </gantt>
	      </div>
	    </div>
	  </div>
	 
 
  
  
  <div class="panel panel-default" ng-repeat="track in tracks | filter:searchText" ng-controller="editTrack">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse"  data-target="#{{track.id}}">
	          {{track.name}}
	           
	        </a>
	      </h4>
	    </div>
	    <div id="{{track.id}}" class="panel-collapse collapse in">
	      <div class="panel-body">
                        
            <div ng-show="editState"class="panel-body">
                <form name="form" class="form">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input class="form-control" type="text" placeholder="insert Name" ng-model="track.name" required>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <!-- <textarea class="form-control" ng-model="track.description" rows="3" required></textarea> -->
                        <div text-angular ng-model="track.description"></div> 
                    </div>
<!--                     <div class="form-group"> -->
<!--                         <label class="control-label">Location</label> -->
<!--                         <input class="form-control" type="text" placeholder="insert Location" ng-model="track.location" required> -->
<!--                     </div> -->
                    <div class="form-group">
                        <label class="control-label">Resource</label>
                        <input class="form-control" type="text" placeholder="Resource" ng-model="track.resource" required>
                    </div>
                    <div ng-show="user.isadmin" class="btn-group">
                        <button class="btn" ng-click="edit($index)" ng-disabled="form.$invalid" ><i class="icon-save"></i></button>
                        <button class="btn btn-danger" ng-click="deleteConference(track.id,$index)"><i class="icon-trash"></i></button>
                    </div>

                </form>
            </div>
            <div ng-show="!editState"class="panel-body">
				
				<p></i> <strong>Resource:</strong> {{track.resource}}</p>
				<p>
				<strong>Description:</strong>
				<div ng-bind-html="track.description"></div>
				</p>
				
				
			

                <div ng-show="user.isadmin" class="btn-group">
                    <button class="btn" ng-click="edit($index)"><i class="icon-pencil"></i></button>
                    <button class="btn btn-danger" ng-click="deleteTrack(track.id,$index)"><i class="icon-trash"></i></button>
                </div>
                <ng-include src="'views/event.html'"></ng-include>


            </div>

            
    
    

 </div>
 </div>
</div>
 </div>
 	
 	<button ng-show="user.isadmin" class="btn" ng-click="add()"><i class="icon-plus"></i> Create</button>
    <button class="btn btn-danger" ng-click="getTracks()"><i class="icon-refresh"></i> Load</button>



</div>

