<div class="container">


    <h2>Tracks</h2>

    <table class="table">
        <thead>
            <td>ID</td>
            <td>Conf ID</td>
            <td>Name</td>
            <td>Description</td>
        </thead>
        <tr ng-repeat="item in items">
            <td>{{ item.id }}</td>
            <td>{{ item.conferenceId }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>
                <button class="btn" ng-click="open($index)"><i class="icon-edit-sign"></i> Edit</button>
                <button class="btn" ng-click="deleteTrack(item.id,$index)"><i class="icon-remove"></i></button>
            </td>
        </tr>
    </table>
    <button class="btn" ng-click="open()"><i class="icon-plus"></i> Create</button>
    <button class="btn btn-danger" ng-click="getTracks()"><i class="icon-refresh"></i> Load</button>
    <div class="info">{{ status }}</div>


</div>
