body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.search {
    margin-top: 5px;
    margin-bottom: 10px;
}

.thumbnail-item {
    background-color: #ffffff;
}

.thumbnail {
    background-color: #FCFAFA;
    border: 1px solid #dddddd;

}

.panel-primary > .panel-heading {
	color: #000000;
	background-color: #dddddd;
	border-color: #dddddd;
}

.panel-primary {
	border-color: #dddddd;
}
.form input.ng-invalid.ng-dirty {
        background-color: #FA787E;
      }
      
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/


/*grey background on panels footer*/
#greyBackground {
background-color: #b2b2b2
}

/*defined font */
.aCoolFont{
    font-size: 28px;
    font-weight:bold;
    text-align:center;   
    color: #428bca;
    background: white;   
    margin: 10px auto 10px auto;
    border-radius: 3px;
    padding:5px;
}

/*centered text*/
.centeredBlock {
    margin: 50px auto 50px auto;
    text-align:center;
} 

/*defined fontsize */
.eventText {
    font-size: 18px;
} 
